.table,
.rectangle {
  border: 2px solid rgb(34, 45, 139); /* Border color and style for both elements */
  width: 80px; /* Width of the table */
  height: 500px;
  text-align: center;
  position: relative;
  top: 25px;
  margin-left: -10px;
  margin-right: auto;
  float: left; /* Float the upper table to the left */
  clear: both
}

.dispatch {
    border: 2px solid rgb(34, 45, 139);
    width: 650px;
    height: 200px;
    text-align: center;
    position: relative; /* Add relative positioning */
    top: -450px; /* Adjust the top position to move the element up */
    margin-left: 300px;
    margin-right: 430px;
    line-height: 4.5;
    clear: both;
    text-wrap: wrap;
    font-family: "Lucidia Console", "Courier New", monospace;
  }
  
  .dispatch td:nth-child(1) {
    white-space: nowrap;
  }
  
  .dispatch td:nth-child(3) {
    white-space: normal;
    width: 300px;
    line-height: 1.5;
  }
  
  .dispatch td:nth-child(4) {
    white-space: normal;
    width: 300px;
    line-height: 1.5;
  }

body {
  background-color: #eeeeee; /* Set a solid background color */
  /* or */
  /*background-image: url('../myImage.jpg'); /* Set a background image */
  background-size: cover; /* Ensure the background image covers the entire element */
}

h1 {
  text-align: center;
}

  
